@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
	body {
    background-color: #fffceb;
		font-family: 'Poppins', sans-serif;
		width: 80%;
		margin: 0 auto;
	}

header {
  padding: 20px;
  text-align: center;
}

button {
	font-family: 'Poppins', sans-serif;
  border-color: #3f5323;
  background-color: white;
  font-weight: bold;
}

a {
  color: #3f5323;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

footer{
  padding-top: 40px;
  text-align: center;
  background-color: #fffceb;
  font-weight: bold;
  width: 100%;
}

div {
  text-align: left;
  color: #7ca54a;
}

label {
  font-family: 'Poppins', sans-serif;
  color: #3f5323;
  font-weight: bold;
}

.subMit {
	font-family: 'Poppins', sans-serif;
  border-color: #3f5323;
  background-color: white;
  font-weight: bold;
}

div.thirdy {
  text-align: center;
  color: #7ca54a;
  padding-bottom: 70px;
}

legend {
  font-weight: bold;
  font-size: 35px;
}